{
    "presets": [
        ["@babel/preset-env", {
            "modules": "commonjs",
            "useBuiltIns": "usage",
            "targets": {
                "browsers": ["last 2 versions", "safari >= 7"],
                "node": "current"
            }
        }]
    ],
    "plugins": [
        ["@babel/plugin-transform-runtime",
            {
                "regenerator": true
            }
        ]
    ],
}