
.git/
node_modules/
dist/
.cache/
*.log
*.bak.js
*.bak
*.marko.js
.DS_STORE
dump.rdb
.marko-devtools/
.marko-cli/
.nyc_output/

cypress/plugins/
cypress/screenshots/
cypress/support/
cypress/videos/
