style {
  .login__submit {
    margin-top: 50px;
  }
}

import router from "../../../../services/router"

class {
  goTrailers() {
    router.navigate('/trailers');
  }
}

<custom-button.login__submit key="login-button" on-click('goTrailers')>Login</custom-button>
