style {
  .trailers__main {
    --trailer-divider: #4c4c4c;
  }

  .trailers__main {
    display: flex;
    min-height: 100%;
  }

  @media (max-width: 800px) {
    .trailers__main {
      display: block;
    }
  }

  .trailers__button {
    margin: 0 auto;
    width: 250px;
  }
}

<main.trailers__main>
  <toolbar>
    <span>Trailers</span>
    <logout-button.toolbar__logout-button/>
  </toolbar>
  <sidenav />  
  <videos />
</main>
