import router from "../../../services/router"
import cache from "../../../services/cache"

style {
  .logout-button {
    margin-top: 10px;
  }
}

class {
    goLogin() {
        cache.reset();
        router.navigate('/');
    }
}

<custom-button.trailers__button.logout-button
  class=input.class
  variant="flat"
  on-click('goLogin')
>
  Logout
</custom-button>
